<section class="phx-hero">
    <div>
        <h1>Welcome to FIshermans Horizon</h1>
        <p>drag fish under the fisherman to add to your haul</p>
        <button phx-click="play">Play</button>
    </div>
</section>
