<section class="welcome">
    <div class="text-white">
        <%= form_for :play, "#", [phx_submit: "play"], fn f -> %>
            <%= label f, :"enter name" %>
            <%= text_input f, :user %>
            <%= submit "Play" %>
        <% end %>
    </div>
    <div class="fisherman_idle"></div>
</section>
